body{
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Poppins', sans-serif;
}
section{
  height: 500px;
  padding-bottom: 100px;
  display: block;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img{
  width: 100%;
}
.half-width h1 span{
  color: orange;
}
.half-width h1{
  font-weight: bold;
  font-size: 30px;
}
.half-width p{
  font-weight: 500;
}
.anchoor-button {
  background: linear-gradient(45deg,lightsalmon, tomato);
  padding: 15px 50px;
  color: white;
  border-radius: 20px;
  font-weight: 700px;
  text-decoration: none;
}
/*about me section*/
.about-me{
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
.about-me .half-width img{
  width: 150%;
  padding-left: 20px;
}
.half-width h2{
  font-size: 40px;
}
.half-width p{
  font-size: 20px;
  font-weight: normal;
}
/* top-recipies */
.top-recipies{
  width: 45%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.recipi-title .half-width{
  box-shadow: 5px 7px 40px gray;
}
.top-recipies h3{
  font-size: 30px;
}
.recipi-title img{
  width: 100%;
}
.recipi-title h4{
  font-size: 20px;
  font-weight: 700;
}
.recipi-title p{
  font-weight: 300;
  font-size: 17px;
}
/* Social */

.social{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  
}
.social-three{
  margin: 60px;
  padding: 30px;
  box-shadow: 5px 7px 40px gray;
}












































